{% extends 'parent.html.twig' %} {# extends : etendre un modele parent (fichier situé à la racine du dossier views #}

{% block main %}
    <h1> Titre </h1>

{% endblock %}


{% block style %}



{% endblock %}