{% extends 'parent.html.twig' %}

{% block body %}

    {% for key,value in list %}
        <p>
            <a href=" {{ url('memberId',{'id' : key }) }}"> {{ value.prenom  ~ " " ~ value.nom ~ " "  }}</a>
        </p>
    {% endfor %}

{% endblock %}